@import "tailwindcss";

:root {
  --background: #faedcd;
  /* --background: #7e8c69; */
  --foreground: #333333;
}

@theme inline {
  --color-primary: #9cad8c;
  --color-secondary: #faedcd;
  --color-accent: #ccd5ae;
  --color-background: #fefae0;
  --color-text: #333333;
  --color-navbar: #930825;
  --color-background2: #c99a92;
  --color-secondary2: #7e8c69;
  --color-text2: #a8a8a8;
  --color-accent2: #a3596a;
  --color-textMain: #333333;
  --color-bgCard: #fef8d6;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
